.char__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[3];
    grid-template-columns: repeat(3, 200px);
    -webkit-column-gap: 25px;
    column-gap: 25px;
    row-gap: 30px
}

.char__item {
    width: 200px;
    height: 318px;
    background-color: #232222;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform
}

.char__item img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px)
}

.char__item_selected {
    -webkit-box-shadow: 0 5px 20px #9F0013;
    box-shadow: 0 5px 20px #9F0013;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.char__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff
}

.my-node-enter {
    opacity: 0;
    /* transform: translateY(-500px); */
    /* transform: translate3d(-500px, 0, 500px); */
    transform: scale(0.2) translateY(-500px);

}

.my-node-enter-active {
    opacity: 1;
    /* transform: translateY(0);
     */
    transform: scale(1) translateY(0);
    /* transform: translate3d(0, 0, 0); */
    transition: all 500ms ease-in;
}

.my-node-exit {
    opacity: 1;
    transform: rotate(720deg);
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}